.scrolled {
	box-shadow: 0 2px 1px -1px #ffffff20 !important;
	position: fixed !important;
	top: 0px !important;
	right: 0;
	left: 0;
	z-index: 1030;
	margin: 0px 64px;
	padding: 10px 0px !important;
}

.navbar {
	/* With spacer */
	/* top: 47px; */
	/* position: relative; */
	/* Without spacer */
	top: 0px;
	position: fixed;
	/*  */
	right: 0;
	left: 0;
	background-color: #00000090;
	height: 47px;
	backdrop-filter: saturate(180%) blur(20px);
	padding: 10px 64px;
}

.link {
	font-size: 14px;
	padding: 4px 10px;
	border-radius: 6px;
	text-align: center;
	margin: 0px 4px;
	color: #ffffff !important;
	font-weight: 600;
	transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.link:hover {
	transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	background-color: #68fdfe20;
	color: #68fdfe !important;
}

.link_active {
	background-color: #68fdfe20;
	color: #68fdfe !important;
}

.link_group {
	display: grid;
	grid-template-columns: repeat(6, 100px);
	align-items: center;
}

.btn-primary {
	width: 20px !important;
}
