.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	background-color: rgb(25, 26, 27, 0.8);
}

.group {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(6, auto);
	align-items: center;
	justify-items: center;
	height: 46px;
}

.link {
	width: 75%;
	height: 75%;
	display: grid;
	align-items: center;
	justify-items: center;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	color: beige;
}

.link:hover {
	background-color: rgb(251, 251, 252, 0.04);
	border-radius: 4px;
}

.link:active {
	color: rgb(255, 149, 0);
	background-color: rgb(255, 149, 0, 0.04);
	border-radius: 4px;
}

@media (max-width: 640px) {
	.navbar {
	}

	.group {
		grid-template-columns: repeat(2, auto);
	}

	.navbar a:nth-child(2) {
		display: none;
	}
	.navbar a:nth-child(3) {
		display: none;
	}
}
