.scrolled {
	box-shadow: 0 0 0 1px #ffffff20 !important;
}

.navbar {
	background-color: #00000090;
	height: 47px;
	backdrop-filter: saturate(180%) blur(20px);
	padding: 0 64px !important;
}

.link {
	font-size: 14px;
	padding: 4px 10px;
	border-radius: 4px;
	text-align: center;
	margin: 0px 4px;
	color: #ffffff !important;
	font-weight: 600;
}

.link:hover {
	background-color: #68fdfe20;
	color: #68fdfe !important;
}

.link_active {
	background-color: #68fdfe20;
	color: #68fdfe !important;
}

.link_group {
	display: grid;
	grid-template-columns: repeat(6, 100px);
	align-items: center;
}

.btn-primary {
	width: 20px !important;
}

@media (max-width: 992px) {
	.navbar {
		padding: 0 8px !important;
	}
	.link_group {
		display: grid;
		grid-template-columns: none;
		grid-template-rows: repeat(6, 46px);
	}
	.link {
		text-align: left;
		padding: 10px 20px !important;
	}
	.dropdown {
		margin-top: 3px;
		background-color: #00000090;
		backdrop-filter: saturate(180%) blur(20px);
	}
	.navbar-toggler {
		border: none !important;
	}
}
