/* .scrolled {
	box-shadow: 0 0 0 1px #ffffff20 !important;
} */

.navbar {
	background-color: #00000090;
	backdrop-filter: saturate(180%) blur(20px);
}

.link {
	font-size: 18px;
	padding: 4px 10px;
	border-radius: 4px;
	margin: 0px 4px;
	color: #ffffff !important;
	font-weight: 600;
	margin-left: 0px;
}

.toggle {
	border: none;
	background-color: transparent;
	color: #ffffff;
}

.toggle:hover {
	background-color: transparent;
}

.toggle:active {
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
}
