.button {
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	width: max-content;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 4px;
	justify-items: left;
	align-items: center;
	margin-bottom: 9px;
}

.button:hover {
	text-decoration: none;
	color: #68fdfe;
}

.button:hover .arrow {
	stroke: #68fdfe !important;
	transform: translateX(4px);
	transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	opacity: 1;
}

.arrow {
	stroke: #ffffff;
	transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	opacity: 0.4;
}
