.button {
	background-color: #ffffff;
	color: #000000;
	border-color: #ffffff;
	font-weight: 500;
	font-size: 16px;
	min-width: 200px;
	width: max-content;
	margin-bottom: 9px;
	transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	display: grid;
	justify-items: center;
	border-radius: 6px;
}

.button:hover {
	background-color: #000000;
	border-color: #ffffff;
	color: #ffffff;
	transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

@media (max-width: 991px) {
	.button {
		font-size: 14px;
	}
}
