.button {
	background-color: #000000;
	color: #ffffff;
	border-color: #ffffff;
	font-weight: 500;
	/* height: 38px; */
	font-size: 16px;
	min-width: 200px;
	width: max-content;
	/* height: 20px; */
	margin-bottom: 18px;
	transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	display: grid;
	justify-items: center;
}

.button:hover {
	background-color: #000000;
	border-color: #68fdfe;
	color: #000000;
	transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.content {
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	width: max-content;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 4px;
	justify-items: center;
	align-items: center;
}

.button:hover .content {
	text-decoration: none;
	color: #68fdfe;
}

.button:hover .arrow {
	stroke: #68fdfe !important;
	transform: translateX(4px);
	transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	opacity: 1;
}

.arrow {
	stroke: #ffffff;
	transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	opacity: 0.4;
}
