.content {
	margin-bottom: 18px;
	border: 1px solid;
	border-color: #ffffff;
	border-radius: 4px;
	padding: 20px;
	display: grid;
	grid-template-rows: auto auto;
	justify-items: center;
	align-items: center;
}

.title {
	color: #ffffff;
	font-weight: 600;
	font-size: 22px;
}

.text {
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}
