.content {
	margin-bottom: 18px;
}
.title {
	color: #68fdfe;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0;
}

.title:hover {
	color: #20c5c6;
	text-decoration: none;
}

.preview {
	margin-bottom: 0;
	margin: 9px 0px;
}

.date {
	font-size: 14px !important;
	color: #888888 !important;
}

@media (max-width: 991px) {
	.title {
		font-size: 16px;
	}

	.date {
		font-size: 12px;
	}
}
